<section id="{% if page.header.redirect %}{{ page.header.redirect }}{% else %}{{ page.menu|lower }}{% endif %}" class="section about">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-sm-12 col-lg-6">
        <h2 class="section-title text-left">{{page.title|capitalize }}</h2>
        <p>{{ page.content|striptags }}</p>
        {% if page.header.buttonLink or page.header.buttonTitle or page.header.buttonText %}
        <a href="{{page.header.buttonLink}}" title="{{page.header.buttonTitle}} - {{ config.site.title }}" class="btn btn-rounded btn-outline-primary">{{page.header.buttonText}}</a>
        {% endif %}
      </div>
      <div class="col-sm-12 col-lg-6">
        <img src="{{ page.media[header.img].url }}" class="img-fluid rounded" alt="{{page.header.altImg}} - {{ config.site.title }}"/>
      </div>
    </div>
  </div>
</section>
