{% set blog = page.find('/blog').children %}
<section id="{% if page.header.redirect %}{{ page.header.redirect }}{% else %}{{ page.menu|lower|replace({' ': '-'})}}{% endif %}" class="section blog">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-12">
        <div class="section__title text-center pb-5">
          <h2 class="title">Blog</h2>
        </div>
      </div>
    </div>
    <div class="row">
      {% if blog|length > 0 %}
        {% for post in blog.order('date', 'desc').slice(0, 4) %}
        {% set image = post.media.images|first %}
          <div class="col-sm-12 col-md-6 col-lg-3">
            <article class="card mt-4">
              {% if image %}
                <a href="{{ post.url }}" title="{{ post.title }}"><img class="card-img" src="{{ image.url }}" alt="Card Image"></a>
              {% endif %}
              <div class="card-body">
                <h5 class="card-title">{{ post.title }}</h5>
                <p class="card-text">{{ post.content|striptags }}</p>
                <a href="{{ post.url }}" title="{{ post.title }}" class="btn btn-outline-custom-primary btn-rounded">Lire l'article</a>
                <div class="text-right mt-2">
                  {% include 'partials/blog/date.html.twig' with {post_date: post.date} %}
                </div>
              </div>
            </article>
          </div>
        {% endfor %}
        {% else %}
        <div class="col-12 text-center">
          <p>Pas d'articles à afficher pour l'instant.</p>
        </div>
      {% endif %}
    </div>
  </div>
  <div class="about-shape" style="position: absolute;top: 50%; transform:translate(0, -50%); right: 0; width: 35%; height: 100%; z-index: -1;">
    <img class="img-fluid" src="{{ url('theme://images/shape-1.svg') }}"/>
  </div>
</section>
