{% set blog = page.find('/blog').children %}
<section id="{% if page.header.redirect %}{{ page.header.redirect }}{% else %}{{ page.menu|lower|replace({' ': '-'})}}{% endif %}" class="section blog py-6">
  <div class="container container--sideTitle">
    <div class="section__title side__title">
      <h2 class="title">{{page.title|capitalize }}</h2>
    </div>
    <div class="row justify-content-start">
      {% if blog|length > 0 %}
        {% for post in blog.order('date', 'desc').slice(0, 4) %}
        {% set image = post.media.images|first %}
          <div class="col-sm-12 col-md-6 col-lg-3">
            <article class="card my-4 blog__item">
              {% if image %}
                <a href="{{ post.url }}" title="{{ post.title }}">{{ image.cropZoom(800,500).html('', post.title, 'card-img')|raw }}</a>
              {% endif %}
              <div class="card-body">
                <h4 class="card-title mb-3"><a href="{{ post.url }}" title="{{ post.title }}">{{ post.title|capitalize }}</a></h4>
                <p class="card-text text-muted">
                  {% if post.summary != post.content %}
                      {{ post.summary|striptags }}
                  {% else %}
                      {{ post.content|striptags }}
                  {% endif %}
                </p>
                <a href="{{ post.url }}" title="{{ post.title }}" class="btn btn-outline-primary btn-rounded card-link">Lire l'article</a>
              </div>
              <div class="card-footer text-right">
                {% include 'partials/blog/author.html.twig' %}
                {% include 'partials/blog/date.html.twig' with {post_date: post.date} %}
              </div>
            </article>
          </div>
        {% endfor %}
        {% else %}
        <div class="col-12 text-center">
          <p>Pas d'articles à afficher pour l'instant.</p>
        </div>
      {% endif %}
    </div>
  </div>
  {# <div class="about-shape" style="position: absolute;top: 50%; transform:translate(0, -50%); right: 0; width: 35%; height: 100%; z-index: -1;">
    <img class="img-fluid" src="{{ url('theme://images/shape-1.svg') }}"/>
  </div> #}
</section>
