<!-- Modular 'home' ================================================== -->
<section id="{{ page.menu|lower }}" class="home">

    <div class="container">

        <div class="row align-items-center">

          <div class="col-lg-7">
            <!-- Contenu Home -->
            <div class="home__content">
              <!-- Titre -->
              <h3 class="home__title">Bonjour,</h3>
              <!-- Texte -->
              <h1 class="home__text lead">Je suis Alexandre Denys. Intégrateur ou Développeur Front-End, c'est comme vous voulez.</h1>
              <!-- Boutons -->
              <div class="home__buttons">
                <a class="btn btn--rounded btn-outline-primary" href="#" role="button">Link</a>
                <a class="btn btn--rounded btn-outline-primary" href="#" role="button">Link 2</a>
              </div>
            </div>
          </div>

          <div class="col-lg-5">
            <img class="img-fluid" src="{{ page.media['home-vector.png'].url }}" alt="#"></img>
          </div>

        </div>

    </div>

    {% if page.header.social|length > 0 %}
      <!-- Réseaux sociaux home -->
      <div class="home__social">
          {% for item in page.header.social %}
            <a class="home__social__link" href="{{ item.socialIconLink }}" title="{{ item.socialIconText }}" target="_blank">
                <i class="{{ item.socialIconClass }}" aria-hidden="true"></i>
            </a>
          {% endfor %}
      </div>
    {% endif %}

</section>
