<section id="{% if page.header.redirect %}{{ page.header.redirect }}{% else %}{{ page.menu|lower|replace({' ': '-'})}}{% endif %}" class="home">
    <div class="home__intro col-lg-9" style="margin-bottom: 2rem;">
      <img src="{{ page.media[header.imageIntro].url }}" alt="#" class="home__img"/>
      <div class="home__scroll">
        <div class="home__scroll__icon">
          <i class="fa fa-angle-down"><span class="sr-only sr-only-focusable">Navigation vers le bas</span></i>
        </div>
      </div>
      {% if page.header.social|length > 0 %}
        <!-- Réseaux sociaux home -->
        <ul class="home__social list-unstyled">
            {% for item in page.header.social %}
            <li class="home__social__item">
              <a class="home__social__link" href="{{ item.socialIconLink }}" title="{{ item.socialIconText }} - {{ config.site.title }} - Nouvelle Fenêtre" target="_blank">
                  <i class="{{ item.socialIconClass }}" aria-hidden="true"></i>
              </a>
            </li>
            {% endfor %}
        </ul>
      {% endif %}
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-7 ml-auto">
          <div class="card" style="border-radius: 4em 4em 4em 0; box-shadow: 0 1rem 3rem rgba(31,45,61,.125)!important; border-color: transparent;">
            <div class="card-body px-5 py-5">
              <h1 class="card-title">Titre</h1>
              <p class="card-text">{{ page.content|striptags }}</p>
              <a href="#" title="#" class="btn btn-rounded btn-outline-custom-primary card-link">En savoir plus</a>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>
