<!-- Modular 'home' ================================================== -->
<section id="{% if page.header.redirect %}{{ page.header.redirect }}{% else %}{{ page.menu|lower }}{% endif %}" class="home">

    {% if page.header.carousel|length > 0 %}
      <ul id="home-slider" class="home-slider">
        {% for item in page.header.carousel %}
        <li>
          <div class="home-slider__wrapper">
            <div class="bgImg bgImg-lazy" style="background-image: url('{{ page.media[item.carouselImages].url }}'); background-size: cover; background-position: center; background-repeat: no-repeat; height:100%; width: 100%;"></div>
            <div class="home-slider__content">
              <div class="card home-slider__card">
                <div class="card-body">
                  <h5 class="card-title">{{ item.carouselTitle }}</h5>
                  <p class="card-text">{{ item.carouselContent }}</p>
                  <a href="{{ item.carouselLinkButton }}" title="{{ item.carouselTitle }} - {{ config.site.title }}" class="btn btn-rounded btn-outline-primary card-link">{{ item.carouselTextButton }}</a>
                </div>
              </div>
            </div>
          </div>
        </li>
        {% endfor %}
      </ul>
    {% endif %}

    {% if page.header.social|length > 0 %}
      <!-- Réseaux sociaux home -->
      <div class="home__social">
          {% for item in page.header.social %}
            <a class="home__social__link" href="{{ item.socialIconLink }}" title="{{ item.socialIconText }}" target="_blank">
                <i class="{{ item.socialIconClass }}" aria-hidden="true"></i>
            </a>
          {% endfor %}
      </div>
    {% endif %}

</section>
