<section id="{% if page.header.redirect %}{{ page.header.redirect }}{% else %}{{ page.menu|lower|replace({' ': '-'})}}{% endif %}" class="section services">
  <div class="about-shape" style="position: absolute;top: 50%; transform:translate(0, -50%); left: 0; width: 35%; height: 100%; z-index: -1;">
    <img class="img-fluid" src="{{ url('theme://images/shape-2.svg') }}"/>
  </div>
  <div class="container">
    <div class="row align-items-center justify-content-center">
      {% if page.header.services|length > 0 %}
        {% for item in page.header.services %}
          <div class="col-sm-10 col-md-6 col-lg-4">
            <div class="services__item mt-4 text-center">
              <div class="services__content mt-4">
                <h3 class="services__title">{{ item.servicesTitle }}</h3>
                <p class="services__text">{{ item.servicesDesc }}</p>
                <a class="btn btn-rounded btn-custom-primary" title="{{ item.servicesTitle }} - {{ config.site.title }}" href="{{item.servicesURL}}">{{item.servicesBtnText}}</a>
              </div>
            </div>
          </div>
        {% endfor %}
      {% endif %}
    </div>
  </div>
</section>
