{% set theme_config = attribute(config.themes, config.system.pages.theme) %}
<!DOCTYPE html>
<html lang="{{ grav.language.getActive ?: theme_config.default_lang }}">
<head>
{% block head %}
    <meta charset="utf-8" />
    <title>{% if header.title %}{{ header.title|e('html') }} | {% endif %}{{ site.title|e('html') }}</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% include 'partials/metadata.html.twig' %}

    <link rel="shortcut icon" href="{{ url('theme://images/favicon/favicon.ico') }}" type="image/x-icon">
    <link rel="icon" href="{{ url('theme://images/favicon/favicon.ico') }}" type="image/x-icon">

    <link rel="canonical" href="{{ page.url(true, true) }}" />

    {% block stylesheets %}
        {# {% do assets.addCss('https://unpkg.com/purecss@1.0.0/build/pure-min.css', 100) %} #}

        {% do assets.addCss('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css', 99) %}
        {% do assets.addCss('theme://css/style.css', 98) %}
    {% endblock %}
    {{ assets.css() }}

    {% block javascripts %}
        {% do assets.addJS('https://code.jquery.com/jquery-3.3.1.slim.min.js', {group:'bottom'}) %}
        {% do assets.addJS('https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js', {group:'bottom'}) %}
        {% do assets.addJS('theme://js/scripts.js', {group:'bottom'}) %}
    {% endblock %}


{% endblock head%}
</head>
<body id="top" class="{{ page.header.body_classes }}">

<!-- header ================================================== -->
{% block header %}
    <header id="header" class="header">
      <!-- nav ================================================== -->
      {% block header_navigation %}
          <nav class="navbar navbar-expand-lg navbar-light nav">
            <div class="container">
              <a class="navbar-brand" href="{{ base_url == '' ? '/' : base_url }}" title="{{ config.site.title }}">
                {% include 'partials/logo.html.twig' %}
              </a>

                {% include 'partials/navigation.html.twig' %}
            </div>
          </nav>
      {% endblock %}
    </header>
{% endblock %}

<!-- body ================================================== -->
{% block body %}
    <main id="content" role="main">
      {% block content %}
      {% endblock %}
    </main>
{% endblock %}

<!-- footer ================================================== -->
{% block footer %}
<footer class="footer">
    <div class="container">
    {% include 'partials/footer.html.twig' %}
    </div>
</footer>
{% endblock %}

<!-- scripts ================================================== -->
{% block bottom %}
    {{ assets.js('bottom') }}
{% endblock %}

</body>
</html>
