
<div id="cookies" class="cookies" role="alert">
  <div class="cookies__header">
    {{ theme_var('cookie_header') }}
  </div>
  <div class="cookies__body">
    {{ theme_var('cookie_text') }} <a href="{{ theme_var('cookie_urllink') }}" title="{{ theme_var('cookie_textlink') }}">{{ theme_var('cookie_textlink') }}</a>
  </div>
  <div class="cookies__btn">
    <button id="cookie-btn-ok" type="button" class="btn btn-success btn--rounded btn--sm cookies--btn">{{ theme_var('cookie_ok') }}</button>
    <button id="cookie-btn-ko" type="button" class="btn btn-outline-dark btn--rounded btn--sm cookies--btn">{{ theme_var('cookie_ko') }}</button>
  </div>
</div>
