<div class="row align-items-center">
  <div class="col-lg-8 col-md-8 col-sm-12">
    <div class="footer__legal">
      <p class="footer__legal__text mb-0">{{ theme_var('footer-text') }}</p>
      {% if theme_var('footer-links')|length > 0 %}
        <ul class="footer__legal__list mb-0">
          {% for item in theme_var('footer-links') %}
          <li class="footer__legal__list__item"><a href="{{ item.url }}" title="{{ item.text }} - {{ config.site.title }}">{{ item.text }}</a></li>
          {% endfor %}
        </ul>
      {% endif %}
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-12">
    <div class="footer__social">
      {% if theme_var('footer-social')|length > 0 %}
        <ul class="footer__social__list mb-0">
          {% for item in theme_var('footer-social') %}
          <li class="footer__social__item">
              <a class="footer__social__link" href="{{ item.socialIconLink }}" title="{{ item.socialIconText }} - {{ config.site.title }}" target="_blank">
                  <i class="{{ item.socialIconClass }}" aria-hidden="true"></i>
              </a>
          </li>
          {% endfor %}
        </ul>
      {% endif %}
    </div>
  </div>
</div>
