<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
</button>

{% macro loop(page) %}
    {% for p in page.children.visible %}
        {% set current_page = (p.active or p.activeChild) ? 'active' : '' %}
        {% if p.children.visible.count > 0 %}
            <li class="nav_item dropdown {{ current_page }}">
                <a class="nav-link dropdown-toggle" href="{{ p.url }}">
                    {% if p.header.icon %}<i class="fa fa-{{ p.header.icon }}"></i>{% endif %}
                    {{ p.menu }}
                </a>
                <ul>
                    {{ _self.loop(p) }}
                </ul>
            </li>
        {% else %}
            <li class="nav-item {{ current_page }}">
                <a class="nav-link" href="{{ p.url }}">
                    {% if p.header.icon %}<i class="fa fa-{{ p.header.icon }}"></i>{% endif %}
                    {{ p.menu }}
                </a>
            </li>
        {% endif %}
    {% endfor %}
{% endmacro %}

<div class="navbar-collapse collapse" id="navbarSupportedContent">
  <ul class="navbar-nav">
      {% if theme_config.dropdown.enabled %}
          {{ _self.loop(pages) }}
      {% else %}
          {% for page in pages.children.visible %}
              {% set current_page = (page.active or page.activeChild) ? 'active' : '' %}
              <li class="{{ current_page }}">
                  <a href="{{ page.url }}">
                      {% if page.header.icon %}<i class="fa fa-{{ page.header.icon }}"></i>{% endif %}
                      {{ page.menu }}
                  </a>
              </li>
          {% endfor %}
      {% endif %}
      {% for mitem in site.menu %}
          <li>
              <a href="{{ mitem.url }}">
                  {% if mitem.icon %}<i class="fa fa-{{ mitem.icon }}"></i>{% endif %}
                  {{ mitem.text }}
              </a>
          </li>
      {% endfor %}
  </ul>
</div>
