<article class="card mb-3 blog__item">
    {% set image = page.media.images|first %}
    {% if image %}
      <a href="{{ page.url }}" title="{{ page.title }}" itemprop="url">{{ image.cropZoom(800,500).html('', page.title, 'card-img')|raw }}</a>
    {% endif %}
    <div class="card-body">
      {% include 'partials/blog/title.html.twig' with {title_level: 'h4'} %}
      <p class="card-text" itemprop="description">
        {% if page.summary != page.content %}
            {{ page.summary|striptags }}
        {% else %}
            {{ page.content|striptags }}
        {% endif %}
      </p>
      <a href="{{ page.url }}" title="{{ page.title }}" class="btn btn-outline-primary card-link">Lire l'article</a>
      {% include 'partials/blog/taxonomy.html.twig' %}
    </div>
    <div class="card-footer meta__elements">
      {% include 'partials/blog/author.html.twig' %}
      {% include 'partials/blog/date.html.twig' with {post_date: post.date} %}
    </div>
</article>
