<p>Auteur : {{ grav.user.username }}</p>
{{ dump(grav.user|e) }}
<span class="blog__date meta__item" itemprop="datePublished" content="{{ page.date|date("c") }}">
    <time datetime="{{ page.date|date("c") }}">
        <i class="fa fa-calendar"></i> {{ page.date|date("d.m.y", "Europe/Paris") }}
    </time>
</span>
