{% set title_level = title_level ?: 'h2' %}
{% if page.header.link %}
    <{{ title_level }} class="card-title">
        {% if page.header.continue_link is not same as(false) %}
        <a href="{{ page.url }}" title="{{ page.title }}"><i class="fa fa-angle-double-right u-url"></i></a>
        {% endif %}
        <a href="{{ page.header.link }}" title="{{ page.title }}">{{ page.title|capitalize }}</a>
    </{{ title_level }}>
{% else %}
    <{{ title_level }} class="card-title"><a href="{{ page.url }}" title="{{ page.title }}">{{ page.title|capitalize }}</a></{{ title_level }}>
{% endif %}
