{% extends 'partials/base.html.twig' %}
{% set blog_image = page.media.images[page.header.hero_image] ?: page.media.images|first %}
{% set collection = page.collection() %}
{% set blog = page.find(header_var('blog_url')|defined(theme_var('blog-page'))) %}
{% set show_breadcrumbs = header_var('show_breadcrumbs', [page, blog])|defined(true) %}
{% set show_sidebar = header_var('show_sidebar', [page, blog])|defined(true)  %}
{% set show_pagination = header_var('show_pagination', [page, blog])|defined(true) %}

{% block stylesheets %}
  {{ parent() }}
  {% do assets.addCss('theme://css/masonry.min.css', 99) %}
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  {% do assets.addJS('theme://js/masonry.min.js', {priority: 95, group:'bottom'}) %}
  {% do assets.addJS('https://cdnjs.cloudflare.com/ajax/libs/jquery.imagesloaded/4.1.1/imagesloaded.pkgd.min.js', {priority: 96, group:'bottom'}) %}
{% endblock %}

{% block hero %}
    {% set content %}
        <h1 class="hero__title">{{ page.title }}</h1>
        {{ page.content }}
    {% endset %}
    {% include 'partials/hero.html.twig' with {id: 'blog-hero', hero_image: blog_image} %}
{% endblock %}

{% block content %}
  <section id="{% if page.header.redirect %}{{ page.header.redirect }}{% else %}{{ page.menu|lower|replace({' ': '-'})}}{% endif %}" class="section blog-listing py-4" itemscope itemtype="http://schema.org/Blog">
        <div class="container">
          {% if show_breadcrumbs and config.plugins.breadcrumbs.enabled %}
              {% include 'partials/plugins/breadcrumbs.html.twig' %}
          {% endif %}
          <div class="row">
            {% embed 'partials/layout.html.twig' with {blog: page} %}
              {% block item %}
                {% if collection|length > 0 %}
                  <div class="masonry-container">
                    {% for child in collection %}
                      <div class="masonry-item">
                        {% include 'partials/blog/blog-list-item.html.twig' with {blog: page, page: child} %}
                      </div>
                    {% endfor %}
                  </div>
                  {% else %}
                    <div class="col text-center">
                      <p>Pas d'articles à afficher pour l'instant.</p>
                    </div>
                {% endif %}
                  {% if show_pagination and config.plugins.pagination.enabled and collection.params.pagination %}
                    <div id="listing-footer">
                        {% include 'partials/pagination.html.twig' with {base_url: page.url, pagination: collection.params.pagination} %}
                    </div>
                  {% endif %}
              {% endblock %}
              {% block sidebar %}
                  {% include 'partials/sidebar.html.twig' %}
              {% endblock %}
            {% endembed %}
          </div>
        </div>
    </section>
{% endblock %}
